<section class="footer bg-blue-grey text-grey mt-3">
    <div class="container bg-transparent py-5">
        <div class="row d-flex ">
            <div class="pl-lg-3 col-12 col-md-3 col-sm-6 col-xs-6">
                <h6 class="text-info">Categories</h6>

            </div>
            <div class="col-12 col-md-3 col-sm-6 col-xs-6">
                <h6 class="text-info">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-grey">How it works?</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Get the app</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Terms of Service</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Career</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Press</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3 col-sm-6 col-xs-6">
                <h6 class="text-info">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-grey">How it works?</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Get the app</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Terms of Service</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Career</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Press</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3 col-sm-6 col-xs-6">
                <h6 class="text-info">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-grey">How it works?</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Get the app</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Terms of Service</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Career</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Press</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-grey">Contact</a></li>
                </ul>
            </div>


        </div>
    </div>
    <div class="copyright text-center py-3 bg-blue-grey border-top">
        <div class="container-fluid  bg-transparent">
            <div class="row">
                <div class="col-md-6">
                    Hala-Lancer International Ltd © {% now "Y" %}
                </div>
                <div class="col-md-6">
                    <ul class="list-inline">
                        <li class="list-inline-item">follow us on :</li>
                        <li class="list-inline-item"><a href="#" class="text-primary"><i class="fa fa-facebook mr-1"></i>facebook</a></li>
                        <li class="list-inline-item"><a href="#" class="text-info"><i class="fa fa-twitter mr-1"></i>Twitter</a></li>
                        <li class="list-inline-item"><a href="#" class="text-danger"><i class="fa fa-youtube mr-1"></i>Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

